interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.vercel.com/v1/billing/charges?teamId=team_4lN90TlRlQzpFGhMLIoTTS9D&from=2026-09-01T00%3A00%3A00%2B00%3A00&to=2026-09-10T00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"ChargePeriodStart": "2026-08-31T07:00:00.000Z", "ChargePeriodEnd":
        "2026-09-01T07:00:00.000Z", "ChargeCategory": "Usage", "BilledCost": 0.007441139270841694,
        "BillingCurrency": "USD", "EffectiveCost": 0.007441139270841694, "ServiceName":
        "Function Invocations", "ServiceCategory": "Vercel Functions", "ServiceProviderName":
        "Vercel", "ConsumedQuantity": 12401.898784736159, "ConsumedUnit": "Invocations",
        "Tags": {"ProjectId": "prj_5LAip7eW0S0iDBoLNDwa9gMTye78", "ProjectName": "<ProjectName>"},
        "PricingCategory": "Other", "PricingCurrency": "USD", "PricingQuantity": 0.007441139270841694,
        "PricingUnit": "USD"}

        {"ChargePeriodStart": "2026-09-01T07:00:00.000Z", "ChargePeriodEnd": "2026-09-02T07:00:00.000Z",
        "ChargeCategory": "Usage", "BilledCost": 0.001437, "BillingCurrency": "USD",
        "EffectiveCost": 0.001437, "ServiceName": "Function Invocations", "ServiceCategory":
        "Vercel Functions", "ServiceProviderName": "Vercel", "ConsumedQuantity": 2395,
        "ConsumedUnit": "Invocations", "Tags": {"ProjectId": "prj_5LAip7eW0S0iDBoLNDwa9gMTye78",
        "ProjectName": "[...]
