*.local.code-workspace
.infisical.json

.pnpm-store
.ruff_cache/
data/
logs/
temp/
*.egg-info/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.env.docker
.venv/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.log
.docker/
*.db
*.db-shm
*.db-wal
