interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.vercel.com/v1/query/web-analytics/visits/aggregate?teamId=team_4lN90TlRlQzpFGhMLIoTTS9D&projectId=prj_5LAip7eW0S0iDBoLNDwa9gMTye78&since=2026-09-01T00%3A00%3A00%2B00%3A00&until=2026-09-10T00%3A00%3A00%2B00%3A00&by=day
  response:
    body:
      string: '{"version": 1, "query": {"since": "2026-09-01T00:00:00.000Z", "until":
        "2026-09-11T00:00:00.000Z", "limit": 10}, "data": [{"timestamp": "2026-09-01T00:00:00.000Z",
        "visitors": 49, "pageviews": 90}, {"timestamp": "2026-09-02T00:00:00.000Z",
        "visitors": 61, "pageviews": 111}, {"timestamp": "2026-09-03T00:00:00.000Z",
        "visitors": 71, "pageviews": 97}, {"timestamp": "2026-09-04T00:00:00.000Z",
        "visitors": 46, "pageviews": 62}, {"timestamp": "2026-09-05T00:00:00.000Z",
        "visitors": 43, "pageviews": 53}, {"timestamp": "2026-09-06T00:00:00.000Z",
        "visitors": 50, "pageviews": 98}, {"timestamp": "2026-09-07T00:00:00.000Z",
        "visitors": 51, "pageviews": 69}, {"timestamp": "2026-09-08T00:00:00.000Z",
        "visitors": 43, "pageviews": 66}, {"timestamp": "2026-09-09T00:00:00.000Z",
        "visitors": 67, "pageviews": 139}, {"timestamp": "2026-09-10T00:00:00.000Z",
        "visitors": 114, "pageviews": 141}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '399'
      x-ratelimit-reset:
      - '1789106931'
      x-vercel-id:
      - sfo1::s7725-1789103330221-fce7551e83e5
    status:
      code: 200
      message: OK
version: 1
