interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.vercel.com/v1/query/web-analytics/visits/count?teamId=team_4lN90TlRlQzpFGhMLIoTTS9D&projectId=prj_5LAip7eW0S0iDBoLNDwa9gMTye78&from=2026-09-01T00%3A00%3A00%2B00%3A00&to=2026-09-10T00%3A00%3A00%2B00%3A00
  response:
    body:
      string: '{"version": 1, "query": {"since": "2026-06-19T00:00:00.000Z", "until":
        "2026-09-12T00:00:00.000Z"}, "data": {"visitors": 1384, "pageviews": 2758}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '400'
      x-ratelimit-remaining:
      - '399'
      x-ratelimit-reset:
      - '1789106277'
      x-vercel-id:
      - sfo1::2wcl5-1789102676751-5645341689a8
    status:
      code: 200
      message: OK
version: 1
